body {
    background: url('../img/seychelles_gettyimage.png');
    background-size: cover;
    font: 20px Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

#article {
    display: block;
    width: 65%;
    margin: 25% auto;
    color: #fff;
    border: solid 2px #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: left;
}

a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}